<!DOCTYPE html>
<html>

<head>
    <title>Steam AGCR Helper</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
    tailwind.config = {
        theme: {
            extend: {
                dropShadow: {
                    'xl': '0 8px 5px rgb(0 0 0 / 0.18)'
                }
            }
        }
    };
    </script>
</head>

<body>

<div class="min-h-screen bg-zinc-600 py-20">
    <div class="max-w-7xl grid gap-x-16 gap-y-10 grid-cols-4 mx-auto">

        <!-- Big Stats -->
        <div
                class="w-full h-full px-5 py-8 mx-auto rounded-lg drop-shadow-xl bg-emerald-400 text-center items-center grid content-center row-span-4 col-span-2">

            <div class="text-emerald-600 font-black text-3xl">AGCR</div>
            <div class="text-emerald-500 font-black text-8xl">
                <div class="bg-zinc-100 rounded-lg inline-block p-2 pb-4">
                    {{ agcr }} %
                </div>
            </div>
            <div class="text-emerald-600 font-black text-3xl">From {{ games_count }} games</div>
            <div class="text-emerald-600 text-xl">(some games cannot be counted properly)</div>

        </div>

        <div
                class="w-full h-full px-2 py-8 mx-auto rounded-lg drop-shadow-xl bg-amber-400 text-center items-center grid content-center row-span-2">

            <div class="text-amber-700 font-black">&gt;80% games</div>
            <div class="text-amber-400 font-black text-3xl">
                <div class="bg-zinc-100 rounded-lg p-2 w-9/12 mx-auto">
                    {{ eighty_games }}
                </div>
            </div>

        </div>

        <div
                class="w-full h-full px-2 py-8 mx-auto rounded-lg drop-shadow-xl bg-sky-400 text-center items-center grid content-center row-span-2">

            <div class="text-sky-700 font-black">Achievements Unlocked</div>
            <div class="text-sky-400 font-black text-3xl">
                <div class="bg-zinc-100 rounded-lg p-2 w-9/12 mx-auto">
                    {{ achievements_unlocked }}
                </div>
            </div>

        </div>

        <div
                class="w-full h-full px-2 py-8 mx-auto rounded-lg drop-shadow-xl bg-amber-400 text-center items-center grid content-center row-span-2">

            <div class="text-amber-700 font-black">1-Achievement Games</div>
            <div class="text-amber-400 font-black text-3xl">
                <div class="bg-zinc-100 rounded-lg p-2 w-9/12 mx-auto">
                    {{ one_games }}
                </div>

            </div>

        </div>

        <div
                class="w-full h-full px-2 py-8 mx-auto rounded-lg drop-shadow-xl bg-sky-400 text-center items-center grid content-center row-span-2">

            <div class="text-sky-700 font-black">Achievements Left</div>
            <div class="text-sky-400 font-black text-3xl">
                <div class="bg-zinc-100 rounded-lg p-2 w-9/12 mx-auto">
                    {{ achievements_left }}
                </div>
            </div>

        </div>
        <!-- /Big Stats -->

        <!-- Unusually High-Impact Games -->
        {% if highest_impact|length > 1 %}

        <div class="w-full-h-full auto-rows-fr grid gap-x-16 gap-y-10 grid-cols-4 col-span-4 grid-flow-dense
            py-10 border-b border-t border-zinc-500">

            <div class="w-full h-full px-10 py-8 mx-auto rounded-lg drop-shadow-xl bg-transparent text-center items-start
            col-span-2 row-span-2 text-zinc-100 font-bold text-2xl">
                Unusually-High-Impact Games
            </div>

            {% for game in highest_impact %}
            <div class="w-full h-full px-10 py-8 mx-auto rounded-lg drop-shadow-xl text-center items-start text-transparent cursor-pointer text-xl bg-zinc-500 font-bold row-span-2
                bg-[url('https://cdn.akamai.steamstatic.com/steam/apps/{{ game['app_id'] }}/header.jpg')] bg-no-repeat bg-cover bg-center hover:text-zinc-100 hover:bg-blend-exclusion"
                 onclick="window.open('steam://nav/games/details/{{ game['app_id'] }}', '_self')">

                {{ game['app_name'] }}

                <div class="bg-zinc-600 text-zinc-100 absolute top-0 right-0 rounded-bl-lg py-1 px-2 text-sm">
                    {{ game['achievements_done'] }} / {{ game['achievements_total'] }}
                </div>
            </div>
            {% endfor %}

        </div>

        {% endif %}
        <!-- /Unusually High-Impact Games -->

        <!-- HiLo Games -->
        {% if hilo_games|length > 1 %}

        <div class="w-full-h-full auto-rows-fr grid gap-x-16 gap-y-10 grid-cols-4 col-span-4 grid-flow-dense
            pb-10 border-b border-zinc-500">

            <div class="w-full h-full px-10 py-8 mx-auto rounded-lg drop-shadow-xl bg-transparent text-center items-start
            col-span-2 row-span-2 text-zinc-100 font-bold float-right col-start-3 text-2xl">
                Great-Impact & Few-Achievement Games
            </div>

            {% for game in hilo_games %}
            <div class="w-full h-full px-10 py-8 mx-auto rounded-lg drop-shadow-xl text-center items-start text-transparent cursor-pointer text-xl bg-zinc-500 font-bold row-span-2
                bg-[url('https://cdn.akamai.steamstatic.com/steam/apps/{{ game['app_id'] }}/header.jpg')] bg-no-repeat bg-cover bg-center hover:text-zinc-100 hover:bg-blend-exclusion"
                 onclick="window.open('steam://nav/games/details/{{ game['app_id'] }}', '_self')">

                {{ game['app_name'] }}

                <div class="bg-zinc-600 text-zinc-100 absolute top-0 right-0 rounded-bl-lg py-1 px-2 text-sm">
                    {{ game['achievements_done'] }} / {{ game['achievements_total'] }}
                </div>
            </div>
            {% endfor %}

        </div>

        {% endif %}
        <!-- /HiLo Games -->

        <!-- Quick Games -->
        {% if quick_games|length > 1 %}

        <div class="w-full-h-full auto-rows-fr grid gap-x-16 gap-y-10 grid-cols-4 col-span-4 grid-flow-dense
            pb-10 border-b border-zinc-500">

            <div class="w-full h-full px-10 py-8 mx-auto rounded-lg drop-shadow-xl bg-transparent text-center items-start
            col-span-2 row-span-2 text-zinc-100 font-bold float-right text-2xl">
                Fastest-to-100% Games
            </div>

            {% for game in quick_games %}
            <div class="w-full h-full px-10 py-8 mx-auto rounded-lg drop-shadow-xl text-center items-start text-transparent cursor-pointer text-xl bg-zinc-500 font-bold row-span-2
                bg-[url('https://cdn.akamai.steamstatic.com/steam/apps/{{ game['app_id'] }}/header.jpg')] bg-no-repeat bg-cover bg-center hover:text-zinc-100 hover:bg-blend-exclusion"
                 onclick="window.open('steam://nav/games/details/{{ game['app_id'] }}', '_self')">

                {{ game['app_name'] }}

                <div class="bg-zinc-600 text-zinc-100 absolute top-0 right-0 rounded-bl-lg py-1 px-2 text-sm">
                    {{ game['achievements_done'] }} / {{ game['achievements_total'] }}
                </div>
            </div>
            {% endfor %}

        </div>

        {% endif %}
        <!-- /Quick Games -->

        <!-- >80% Games -->
        {% if eighty_games_list|length > 1 %}

        <div class="w-full-h-full auto-rows-fr grid gap-x-16 gap-y-10 grid-cols-4 col-span-4 grid-flow-dense
            pb-10 border-b border-zinc-500">

            <div class="w-full h-full px-10 py-8 mx-auto rounded-lg drop-shadow-xl bg-transparent text-center items-start
            col-span-2 row-span-2 text-zinc-100 font-bold float-right col-start-3 text-2xl">
                >80%-Completed Games
            </div>

            {% for game in eighty_games_list %}
            <div class="w-full h-full px-10 py-8 mx-auto rounded-lg drop-shadow-xl text-center items-start text-transparent cursor-pointer text-xl bg-zinc-500 font-bold row-span-2
                bg-[url('https://cdn.akamai.steamstatic.com/steam/apps/{{ game['app_id'] }}/header.jpg')] bg-no-repeat bg-cover bg-center hover:text-zinc-100 hover:bg-blend-exclusion"
                 onclick="window.open('steam://nav/games/details/{{ game['app_id'] }}', '_self')">

                {{ game['app_name'] }}

                <div class="bg-zinc-600 text-zinc-100 absolute top-0 right-0 rounded-bl-lg py-1 px-2 text-sm">
                    {{ game['achievements_done'] }} / {{ game['achievements_total'] }}
                </div>
            </div>
            {% endfor %}

        </div>

        {% endif %}
        <!-- />80% Games -->

        <!-- High Games -->
        {% if high_games|length > 1 %}

        <div class="w-full-h-full auto-rows-fr grid gap-x-16 gap-y-10 grid-cols-4 col-span-4 grid-flow-dense
            pb-10 border-b border-zinc-500">

            <div class="w-full h-full px-10 py-8 mx-auto rounded-lg drop-shadow-xl bg-transparent text-center items-start
            col-span-2 row-span-2 text-zinc-100 font-bold float-right text-2xl">
                High-Impact Games
            </div>

            {% for game in high_games %}
            <div class="w-full h-full px-10 py-8 mx-auto rounded-lg drop-shadow-xl text-center items-start text-transparent cursor-pointer text-xl bg-zinc-500 font-bold row-span-2
                bg-[url('https://cdn.akamai.steamstatic.com/steam/apps/{{ game['app_id'] }}/header.jpg')] bg-no-repeat bg-cover bg-center hover:text-zinc-100 hover:bg-blend-exclusion"
                 onclick="window.open('steam://nav/games/details/{{ game['app_id'] }}', '_self')">

                {{ game['app_name'] }}

                <div class="bg-zinc-600 text-zinc-100 absolute top-0 right-0 rounded-bl-lg py-1 px-2 text-sm">
                    {{ game['achievements_done'] }} / {{ game['achievements_total'] }}
                </div>
            </div>
            {% endfor %}

        </div>

        {% endif %}
        <!-- /High Games -->

        <!-- 1-Achievement Games -->
        {% if one_games_list|length > 1 %}

        <div class="w-full-h-full auto-rows-fr grid gap-x-16 gap-y-10 grid-cols-4 col-span-4 mb-10 grid-flow-dense">

            <div class="w-full h-full px-10 py-8 mx-auto rounded-lg drop-shadow-xl bg-transparent text-center items-start
            col-span-2 row-span-2 text-zinc-100 font-bold float-right col-start-3 text-2xl">
                1-Achievement Games
            </div>

            {% for game in one_games_list %}
            <div class="w-full h-full px-10 py-8 mx-auto rounded-lg drop-shadow-xl text-center items-start text-transparent cursor-pointer text-xl bg-zinc-500 font-bold row-span-2
                bg-[url('https://cdn.akamai.steamstatic.com/steam/apps/{{ game['app_id'] }}/header.jpg')] bg-no-repeat bg-cover bg-center hover:text-zinc-100 hover:bg-blend-exclusion"
                 onclick="window.open('steam://nav/games/details/{{ game['app_id'] }}', '_self')">

                {{ game['app_name'] }}

                <div class="bg-zinc-600 text-zinc-100 absolute top-0 right-0 rounded-bl-lg py-1 px-2 text-sm">
                    {{ game['achievements_done'] }} / {{ game['achievements_total'] }}
                </div>
            </div>
            {% endfor %}

        </div>

        {% endif %}
        <!-- /1-Achievement Games -->

        <!-- Failures -->
        {% if failed_games|length > 1 %}
        <div
                class="w-full h-full px-10 py-8 mx-auto rounded-lg drop-shadow-xl bg-zinc-500 text-center items-start col-span-4 text-zinc-100 font-bold text-xs">

            <div class="text-zinc-100 display-block text-lg font-bold">Failed Games</div>
            <br>

            {% for game in failed_games %}
            <div class="bg-zinc-100 text-zinc-600 rounded-lg px-2 py-0 w-auto mb-2 mr-4 inline-block">{{ game }}</div>
            {% endfor %}

        </div>
        {% endif %}
        <!-- /Failures -->

        <!-- Copy Info -->
        <div class="w-full h-full px-10 py-8 mx-auto rounded-lg drop-shadow-xl bg-zinc-500 text-center items-start
            col-span-4 text-zinc-100 font-bold">

            Made in 2023 by <a href="https://zbee.codes" target="_blank" class="underline cursor-pointer">Ethan
            Henderson (zbee)</a>.
            You can find the code on <a href="https://github.com/zbee/steam-agcr-helper/" target="_blank"
                                        class="underline cursor-pointer">GitHub</a>.
            You can find the information used to crunch the numbers on
            <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=650166273" target="_blank"
               class="underline cursor-pointer">Steam</a>.

        </div>
        <!-- /Copy Info -->

    </div>
</div>

</body>

</html>